@import '/src/core/styles/breakpoints.styles';

.content {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    @media (width >= $mobile) {
      padding: 0;
    }
  }
}
